<div class="main">
        <!-- 1) Choosing Project 2)Entering Excavation Details 3) Payment 4) Showing ticket-->
    <router-outlet></router-outlet>
        <!-- 1) Select Project -->
        <!-- <app-select-project (selectProject)="onSelectProject($event)"></app-select-project> -->
        <!-- 2) Entering Excavation Details -->
        <!-- <app-excavation-data [selectedProject]="selectedProject"></app-excavation-data> -->
        <!-- 3) Payment -->
        <!-- 4) Showing ticket -->

</div>
